<form method="post" action="/session">
  <fieldset>
    <%= Rack::Csrf.tag(env) %>
    <p>
      <label for="email">Email:</label><br/>
      <input name="email" id="email" type="text" size="30"/>
    </p>
    <p>
      <label for="password">Password:</label><br/>
      <input name="password" id="password" type="password" size="30"/>
    </p>
    <p>
      <input type="submit" value="Login"/>
      &nbsp;|&nbsp;
      <a href="/">Back</a>
    </p>
  </fieldset>
</form>
<script type="text/javascript">
  $('#email').focus();
</script>
