<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Fotofolium 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120513

-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>TODO List by Cristian Rasch</title>
    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="header" class="container">
	    <div id="logo">
		    <h1><a href="/">TODO List</a></h1>
	    </div>
    </div>
    <div id="menu">
	    <ul>
	      <% if logged_in? %>
          <li class="current_page_item"><a href="/tasks">Tasks</a></li>
	        <li>
	          <form id="logout-form" method="post" action="/session/destroy">
	            <!--a href="javascript:document.getElementById('logout-form').submit()">Logout</a-->
	            <a href="#" onclick="$('#logout-form').submit()">Logout</a>
	            <input type="submit" id="logout" style="display: none;"/>
	          </form>
	        </li>
	      <% else %>
          <li class="current_page_item"><a href="/login">Login</a></li>
	      <% end %>
		    <!--li><a href="#">Blog</a></li>
		    <li><a href="#">About Us</a></li>
		    <li><a href="#">Contact Us</a></li-->
	    </ul>
    </div>
    <!-- end #header -->
    <div id="wrapper">
	    <div id="page">
	      <% unless flash.empty? %>
	        <div id="flash" class="<%= flash.keys.first %>">
			      <%= flash.values.first %>
		      </div>
		    <% end %>
		    <div id="box1">
			    <%= body %>
		    </div>
	    </div>
    </div>
    <div id="footer">
	    <p>&copy; Cristian Rasch. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div>
    <!-- end #footer -->
  </body>
</html>
