<p> This is a dummy TODO list app to show off some of the virtues of the <a href="https://github.com/soveran/cuba/"><strong>Cuba</strong></a> micro WEB framework and a few good design practices as well. Please don't take it too seriously though :P</p>
